body{font-family:標楷體;}
.wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;  
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7eeea;
    padding:67px 30px 0 30px ;
}
.menu li h1{
    background-image: url(../img/logo.png);
    width: 300px;
    height: 59px;
    text-indent:-9999px;
}
.menu li a{
    display: block;
    font-size: 24px;
    padding: 30px 10px 0 10px;
    color: #37523d;
    text-decoration: none;
}
.menu li a:hover{
    background-color:#c3e0ab;
    opacity: 0.6;
}
.content{
    padding:77px 0px 0 90px;
}
.content h2{
    color: #37523d;
    font-size: 30px;
    font-weight: bolder;
}
.content div{
    padding-top: 30px;
}
.content p {
    padding-bottom: 10px;
    font-size: 24px;
}
.picture{
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 20px 0;
    
}
.picture img{
    margin: 5px;
}