body{
    font-family:標楷體;
    color: #728677;
}
.wrap{
    width: 955px;  
    margin: 0 auto;
    display: flex;
}
em{
    padding: 0 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: bolder;
}
.menu li h2{
    color: #ffffff;
    text-align: center;
    background-color: #37523d;
    padding: 22px 67px;
}
.menu li a{
    color: #37523d;
    padding: 22px 67px ;
    border-bottom:#e7eeea 2px solid;
    display: block;
    text-decoration: none;
}
.menu li a:hover{
    background-color: #e7eeea;
}
div{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}
.cart{
    width: 300px;
    padding:5px 5px 10px 20px;
}
.cart h2{
    width: 62%;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    padding: 25px 0;
    text-align: center;
}
.cart p{
    width: 38px;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    font-weight: bolder;
    padding: 25px 0px ;
    text-align: center;
}
.cart a{
    display: block;
    font-size: 24px;
    color: #37523d;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    background-color: #e7eeea;
    padding: 25px 88px;
}
.cart a:hover{
    background-color: #cfecdc;
}